{% include header.html %}

    {% include home-hero.html %}

    <main id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            {% if site.section_title != '' %}
            <h2 class="section-title text-center">{{ site.section_title }}</h2>
            {% endif %}
            {% if site.section_subtitle != '' %}
            <p class="section-subtitle text-center">{{ site.section_subtitle }}</p>
            {% endif %}

            <div class="break"></div>
			{% for post in site.posts %}
			  <div class="scroll-fade">
			    {% if post.position == "right" %}
			      {% include content-right.html %}
			    {% else %}
			      {% include content-left.html %}
			    {% endif %}
			  </div>
			{% endfor %}
          </div>
        </div>
      </div>
    </main>

{% include footer.html %}
